* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

.button {
  padding: 8px 16px;
  border: none;
  background-color: #000000;
  color: #ffffff;
  line-height: 1.6;
  width: fit-content;
}

.layer.active {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.5);
}

/* HEADER */

#header {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  height: 46px;
  background-color: #000000;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 0 20px #000000;
}

#header__nav {
  display: flex;
}

.header__nav-item > a {
  padding: 0 24px;
  font-size: 1.5em;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 46px;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
}

.header__nav-item__subnav {
  display: flex;
  flex-direction: column;
}

.header__nav-item:hover .subnav {
  display: block;
}

.header__nav-item__subnav .subnav {
  display: none;
  font-size: 1.5em;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: #000000;
  padding: 0 24px;
  background-color: #ffffff;
  text-transform: capitalize;
  min-width: 120px;
  height: 38px;
  line-height: 38px;
}

.header__icon {
  color: #ffffff;
  line-height: 46px;
  font-size: 1.5em;
  padding: 0 24px;
  height: 46px;
}

#header__menu-mobile {
  display: none;
}

/* SLIDER */
#slider {
  margin-top: 46px;
  padding-top: 50%;
  background-color: #cccccc;
  text-align: center;
  background-image: url("https://www.w3schools.com/w3images/la.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#slider__heading-container {
  padding: 40px;
}

.slider__heading {
  color: #ffffff;
  font-size: 3em;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-shadow: 1px 1px #000000;
  padding-bottom: 20px;
}

.slider__subheading {
  color: #ffffff;
  font-size: 1.5em;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-shadow: 1px 1px #000000;
  padding-bottom: 20px;
}

/* CONTENT */

.content-section.dark {
  background-color: #000000;
  color: #ffffff;
}

.content-box {
  padding: 64px 0;
  max-width: 764px;
  text-align: center;
  margin: 0 auto;
}

.content__heading {
  font-size: 3em;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 4px;
  margin-bottom: 10px;
}

.content__subheading {
  font-size: 1.5em;
  font-family: Arial, Helvetica, sans-serif;
  opacity: 0.5;
  display: block;
  margin: 15px 0;
}

/* content-about */

.content-box .content-about {
  margin: 15px 0;
  font-size: 1.5em;
  font-family: Arial, Helvetica, sans-serif;
  text-align: justify;
  line-height: 1.4;
}

.content-box .team-members {
  padding: 32px 0;
  display: flex;
  justify-content: space-around;
}

.content-box .team-members .member-photo p {
  font-size: 1.5em;
  font-family: Arial, Helvetica, sans-serif;
  margin: 15px 0;
}

.content-box .team-members .member-photo {
  width: 154px;
}

.content-box .team-members .member-photo img {
  width: 100%;
}

/* content-tickets */

.ticket-info {
  background-color: #ffffff;
  margin: 25px 0;
}

.ticket-info__box {
  display: flex;
  padding: 8px 16px;
  border: 1px solid #cccccc;
  border-bottom: none;
  position: relative;
}

.ticket-info__box p {
  font-size: 1.5em;
  font-family: Arial, Helvetica, sans-serif;
  color: #757575;
}

.ticket-info__box .soldout {
  font-size: 1.5em;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f44336;
  margin-left: 16px;
  padding: 2px 8px;
}

.ticket-info__box .tickets-left {
  font-size: 1.5em;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 50%;
  line-height: 22px;
  width: 22px;
  height: 22px;
  position: absolute;
  right: 24px;
  margin-top: -2px;
  background-color: #000000;
}

.ticket-places {
  display: flex;
  justify-content: space-between;
}

.ticket-place {
  width: 245px;
}

.ticket-place img {
  width: 100%;
  display: block;
}

.ticket-place__info {
  color: #000;
  font-size: 1.5em;
  font-family: Arial, Helvetica, sans-serif;
  padding: 16px;
  background-color: #ffffff;
  text-align: left;
}

.ticket-place__info__item {
  margin-bottom: 15px;
  display: block;
  line-height: 1.4;
}

.ticket-place__info__item.ticket-time {
  opacity: 0.5;
}

/* ticketbox */

@keyframes slideDown {
  from {
    transform: translate(-50%, -100%);
    top: 0;
    left: 50%;
  }
  to {
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
  }
}

#ticket-dialog {
  display: none;
  animation: slideDown 0.5s ease;
  position: fixed;
  z-index: 3;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 900px;
}

.ticket-dialog__header .close-btn {
  position: absolute;
  top: 0;
  right: 0;
  padding: 8px 16px;
  font-size: 0.5em;
}

.ticket-dialog__header {
  text-align: center;
  color: #ffffff;
  font-size: 3em;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #009688;
  padding: 42px 16px;
}

.ticket-dialog__body {
  background-color: #ffffff;
  padding: 0 16px;
}

.ticket-dialog__form label {
  width: 100%;
  padding: 15px 0;
  display: block;
  font-size: 1.5em;
  font-family: Arial, Helvetica, sans-serif;
}

.ticket-dialog__form input {
  width: 100%;
  padding: 8px;
  border: 1px solid #cccccc;
  font-size: 1.5em;
  line-height: 1.5;
}

.ticket-dialog__form .pay-btn {
  width: 100%;
  text-align: center;
  margin: 16px 0;
  padding: 16px;
  font-size: 1.5em;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  background-color: #009688;
}

.ticket-dialog__footer {
  display: flex;
  justify-content: space-between;
  padding: 16px 0;
}

.ticket-dialog__footer .close-btn.lower {
  color: #ffffff;
  background-color: #f44336;
  padding: 8px 16px;
  font-size: 1.5em;
  line-height: 1.6;
  font-family: Arial, Helvetica, sans-serif;
}

.ticket-dialog__footer span {
  font-size: 1.5em;
  font-family: Arial, Helvetica, sans-serif;
}

/* content-contact */

.contact-box {
  padding: 32px 0;
  display: flex;
  justify-content: space-between;
}

.contact-box__info {
  text-align: left;
  font-size: 1.8em;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
}

.contact-icon {
  min-width: 30px;
}

.contact-box__form {
  width: 384px;
}

.contact-box__form input {
  padding: 8px;
  width: 100%;
  margin: 5px 0;
  font-size: 1.5em;
}

.form-input-group {
  display: flex;
  justify-content: space-between;
}

.form-input-group input {
  width: 184px;
}

.contact-box__form button {
  float: right;
}

/* FOOTER */
#footer {
  font-family: Arial, Helvetica, sans-serif;
  padding: 64px 16px;
  text-align: center;
  font-size: 2em;
}

#footer i {
  opacity: 0.6;
  letter-spacing: 2px;
}

#footer p {
  font-size: 0.8em;
  opacity: 0.6;
  margin: 15px 0;
}

#footer p a {
  color: #000000;
}

/* MOBILE - RESPONSIVE */
@media only screen and (max-width: 46.1875em) {
  .button {
    width: 100%;
    text-align: center;
  }
  #header.mobile-active {
    height: auto;
  }
  #header__nav {
    flex-direction: column;
    overflow: hidden;
  }
  #header__search-icon {
    display: none;
  }
  #header__menu-mobile {
    display: block;
  }
  #header__nav {
    flex: 1;
  }
  .header__nav-item__subnav .subnav {
    color: #ffffff;
    background-color: #000000;
  }
  .content-box {
    max-width: 80%;
  }
  .content-box .team-members {
    flex-direction: column;
    align-items: center;
  }
  .content-box .team-members .member-photo {
    width: 205px;
  }
  .ticket-places {
    flex-direction: column;
  }
  .ticket-place {
    width: 100%;
    padding: 10px 0;
  }
  .contact-box {
    flex-direction: column;
  }
  .form-input-group {
    flex-direction: column;
  }
  .contact-box__form {
    width: 100%;
  }
  .contact-box__form input {
    width: 100%;
  }
  #ticket-dialog {
    width: 90%;
  }
}

/* TABLET RESPONSIVE */
@media only screen and (min-width: 46.25em) and (max-width: 63.9375em) {
  .content-box {
    width: 736px;
    max-width: 90%;
  }
  .ticket-place {
    width: 234px;
  }
}

/* PC RESPONSIVE */
@media only screen and (min-width: 64em) {
  .button:hover {
    background-color: #cccccc;
    color: #000000;
    cursor: pointer;
  }
  .header__nav-item:hover > a {
    background-color: #cccccc;
    color: #000000;
  }
  .header__nav-item__subnav .subnav:hover {
    background-color: #cccccc;
  }
  .header__icon:hover {
    background-color: #cccccc;
    color: #000000;
    cursor: pointer;
  }
  .ticket-place img:hover {
    opacity: 0.7;
  }
  .ticket-dialog__header .close-btn:hover {
    background-color: #cccccc;
    color: #000000;
  }
  .ticket-dialog__form .pay-btn:hover {
    color: #000000;
    background-color: #cccccc;
    cursor: pointer;
  }
  .ticket-dialog__footer .close-btn.lower:hover {
    color: #000000;
    background-color: #cccccc;
    cursor: pointer;
  }
  #footer i:hover {
    opacity: 0.3;
  }
}
